<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MForum</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/image/img_forum.png" type="image/x-icon">
</head>
<body>
    <div id="app">
        <div id="navbar">
            <button class="navFed" data-page="feed">Feed</button>
            <button data-page="create-post">Create Post</button>
            <button data-page="private-messages">Messages</button>
            <button id="logout-button">Logout</button>
            <button data-page="login">login</button>
        </div>
        <div id="main-content">
            <!-- Content will be dynamically loaded here -->
        </div>
    </div>
    
    <script type="module" src="/static/js/app.js">
    </script>
</body>
</html>