<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MForum</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/image/img_forum.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div id="app">
        <div id="navbar">
            <a class="navFed" data-page="feed">Feed</a>
            <a data-page="create-post">Create Post</a>
            <a data-page="private-messages">Messages</a>
            <a id="logout-a">Logout</a>
            <a data-page="login">login</a>
        </div>
        <div id="main-content">
            <!-- Content will be dynamically loaded here -->
        </div>
    </div>
    
    <script type="module" src="/static/js/app.js">
    </script>
</body>
</html>