<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MForum</title>
    <link rel="stylesheet" href="/static/css/error.css">
    <link rel="shortcut icon" href="/static/image/img_forum.png" type="image/x-icon">
   
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <div id="app">
        <div id="main-content">
        </div>
    </div>
   <script type="module">
    import {errorPage} from "/static/js/error_page.js"
    document.addEventListener("DOMContentLoaded", (event) => {
        if (location.href !== "http://localhost:1414/"){
            errorPage()
        }
    });
   </script>
    <script type="module" src="/static/js/app.js">
    </script>
</body>

</html>